.container
  display flex
  justify-content center
  align-items center
  width 100vw
  height calc(100vh - 35px)
  color #3B3E3C

.initialize
  display flex
  justify-content space-around
  align-items center
  width 200px
  height 200px
  flex-direction column
  svg
    animation loop 1.5s linear infinite
    fill #BA2124


@keyframes loop
  from
    transform rotate(0deg)
  to
    transform rotate(360deg)
