.container
  width 100vw
  height calc(100vh - 35px)
  display flex
  justify-content center
  align-items center

.restart
  display flex
  justify-content space-around
  align-items center
  font-size 1.4 rem
  width 700px
