.roomChat
  width calc(100vw - 250px)
  background-color #EEEFF4
  color #7A7B7D

.ChatContent
  display flex
  justify-content center
  align-items center
  height calc(100vh - 40px)

.ChatStatus
  display flex
  justify-content center
