.roomMenu
  background-color #22272C
  color #101010
  height calc(100vh - 35px)
  overflow hidden
  overflow-y scroll
  width 100vw
  border-top 1px solid #212121

.roomFilter
  width 100vw
  height 50px
  display flex
  justify-content center

.inputWrapper
  width 180px
  height 30px
  line-height 30px
  padding-left 10px
  margin-top 20px
  border-radius 50px
  background-color #1A1A1A
  &::before
    font-family FontAwesome
    content "\f002"
    padding-left 10px
    margin-right 5px
    color #545F68
  input
    border none
    background-color transparent
    font-size .85em
    width 120px
    color #FFFFFF
    height 30px
    &:focus
      outline none

.roomList
  width calc(100vw - 140px)
  padding-bottom 100px
  overflow-y scroll
  padding-left 80px
  display flex
  flex-direction row
  justify-content flex-start
  flex-wrap wrap

.roomAdd
  width 230px
  height 260px
  background-color #303639
  margin-left 58px
  margin-right 58px
  margin-top 30px
  cursor pointer
  text-align center
  display flex
  flex-direction column
  svg
    font-size 12rem
    margin-left 20px
  span
    color #FEFEFE
    font-size 1.4rem
