.roomMenu
  height calc(100vh - 35px)
  overflow hidden
  overflow-y scroll
  width 100vw
  border-top 1px solid #212121

.roomFilter
  width 100vw
  height 50px
  display flex
  justify-content center

.inputWrapper
  width 180px
  height 30px
  line-height 30px
  padding-left 10px
  margin-top 20px
  border-radius 50px
  background-color #FFFFFF
  border: 1px solid #B5B5B5
  box-shadow 0px 0px 5px 3px #D9D9D9
  &::before
    font-family FontAwesome
    content "\f002"
    padding-left 10px
    margin-right 5px
  input
    border none
    background-color transparent
    font-size .85em
    width 120px
    height 30px
    &:focus
      outline none

.roomList
  width calc(100vw - 140px)
  padding-bottom 100px
  overflow-y scroll
  padding-left 80px
  display flex
  flex-direction row
  justify-content flex-start
  flex-wrap wrap

.roomAdd
  width 230px
  height 260px
  background-color #FAFAFA
  border: 1px solid #B5B5B5
  color #3B3E3C
  box-shadow 0px 0px 5px 3px #D9D9D9
  margin-left 58px
  margin-right 58px
  margin-top 30px
  cursor pointer
  text-align center
  display flex
  flex-direction column
  svg
    font-size 12rem
    margin-left 20px
  span
    font-size 1.4rem
